{%extends "base.html"%}{%load static%}{%block corpsDeLaPage%}

<section class="heading-page header-text" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Découvrir</h2>
                <h6>Choisissez un domaine pour vous cultiver dessus</h6>
            </div>
        </div>
    </div>
</section>

<section class="meetings-page" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row grid">
                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item" onclick="openModal()">
                                    <div class="thumb">
                                        <img
                                            src="{% static 'assets/images/resized_flag_benin.png' %}"
                                            alt=""
                                        />
                                    </div>
                                    <div class="down-content">
                                        <h4 style="text-align: center">
                                            Bénin
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <a href="{%url 'article_c_d'%}">
                                <div
                                    class="col-lg-4 templatemo-item-col all imp"
                                >
                                    <div class="meeting-item">
                                        <div class="thumb">
                                            <img
                                                src="{% static 'assets/images/resized_chants_danses.jpg' %}"
                                                alt=""
                                            />
                                        </div>
                                        <div class="down-content">
                                            <h4>Chants & Danses</h4>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="{%url 'article_ethnie'%}">
                                <div
                                    class="col-lg-4 templatemo-item-col all soon"
                                >
                                    <div class="meeting-item">
                                        <div class="thumb">
                                            <img
                                                src="{% static 'assets/images/resized_ethnies.jpg' %}"
                                                alt=""
                                            />
                                        </div>
                                        <div class="down-content">
                                            <h4>Ethnies</h4>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="{%url 'articles_langues'%}">
                                <div
                                    class="col-lg-4 templatemo-item-col all att"
                                >
                                    <div class="meeting-item">
                                        <div class="thumb">
                                            <img
                                                src="{% static 'assets/images/resized_langues.webp' %}"
                                                alt=""
                                            />
                                        </div>
                                        <div class="down-content">
                                            <h4>Langues</h4>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="{%url 'articles_gastronomie'%}">
                                <div
                                    class="col-lg-4 templatemo-item-col all att"
                                >
                                    <div class="meeting-item">
                                        <div class="thumb">
                                            <img
                                                src="{% static 'assets/images/resized_gastronomie.jpg' %}"
                                                alt=""
                                            />
                                        </div>
                                        <div class="down-content">
                                            <h4>Gastronomie</h4>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="{%url 'articles_divinites'%}">
                                <div
                                    class="col-lg-4 templatemo-item-col all imp"
                                >
                                    <div class="meeting-item">
                                        <div class="thumb">
                                            <img
                                                src="{% static 'assets/images/resized_divinites.jpeg' %}"
                                                alt=""
                                            />
                                        </div>
                                        <div class="down-content">
                                            <h4>Divinités</h4>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="{%url 'articles_royaumes'%}">
                                <div
                                    class="col-lg-4 templatemo-item-col all imp att"
                                >
                                    <div class="meeting-item">
                                        <div class="thumb">
                                            <img
                                                src="{% static 'assets/images/resized_royaume.png' %}"
                                                alt=""
                                            />
                                        </div>
                                        <div class="down-content">
                                            <h4>Royaumes</h4>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="{%url 'articles_patrimoines'%}">
                                <div
                                    class="col-lg-4 templatemo-item-col all soon imp"
                                >
                                    <div class="meeting-item">
                                        <div class="thumb">
                                            <img
                                                src="{% static 'assets/images/resized_patrimoine.png' %}"
                                                alt=""
                                            />
                                        </div>
                                        <div class="down-content">
                                            <h4>Patrimoines</h4>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div
                                class="col-lg-4 templatemo-item-col all att soon"
                            >
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="meeting-details.html"
                                            ><img
                                                src="{% static 'assets/images/resized_benin.jpeg' %}"
                                                alt=""
                                        /></a>
                                    </div>
                                    <div class="down-content">
                                        <a href="meeting-details.html"
                                            ><h4>Histoire</h4></a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-overlay" id="modalOverlay"></div>
    <div class="modal" id="modalWindow">
        <button id="close-btn" class="close-btn" onclick="closeModal()">
            X
        </button>
        <div class="grid-decouvrir-benin">
            <div
                class="item-decouvrir-benin"
                id="item-decouvrir-benin-histoire"
                onclick="window.location.href=''"
            >
                Histoire
            </div>
            <div
                class="item-decouvrir-benin"
                id="item-decouvrir-benin-geographie"
            >
                Géographie
            </div>
            <div
                class="item-decouvrir-benin"
                id="item-decouvrir-benin-politique"
            >
                Politique
            </div>
            <div
                class="item-decouvrir-benin"
                id="item-decouvrir-benin-economie"
            >
                Economie
            </div>
        </div>
    </div>
</section>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="{% static 'jquery/jquery.min.js'%}"></script>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
></script>

<!-- <script src="{%static 'assets/js/isotope.min.js'%}"></script> -->
<script src="{%static 'assets/js/owl-carousel.js'%}"></script>
<script src="{% static 'assets/js/lightbox.js'%}"></script>
<script src="{% static 'assets/js/tabs.js' %}"></script>
<!-- <script src="{% static 'assets/js/isotope.js'%}"></script> -->
<script src="{% static 'assets/js/video.js' %}"></script>
<script src="{% static 'assets/js/slick-slider.js'%}"></script>
<!-- <script src="{% static 'assets/js/custom.js' %}"></script> -->
<script>
    /*cette suite de code gère l'affichage et la fermetture de la section histoire-géo-*/
    // Fonction pour afficher la modale
    function openModal() {
        document.getElementById("modalWindow").style.display = "block";
        document.getElementById("modalOverlay").style.display = "block";
        document.body.classList.add("no-scroll");
    }

    // Fonction pour cacher la modale
    function closeModal() {
        document.getElementById("modalWindow").style.display = "none";
        document.getElementById("modalOverlay").style.display = "none";
        document.body.classList.remove("no-scroll");
    }
    //according to loftblog tut

    var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
            reqSection = $(".section").filter(
                '[data-section="' + direction + '"]'
            ),
            reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
            $("body, html").animate(
                {
                    scrollTop: reqSectionPos,
                },
                800
            );
        } else {
            $("body, html").scrollTop(reqSectionPos);
        }
    };

    var checkSection = function checkSection() {
        $(".section").each(function () {
            var $this = $(this),
                topEdge = $this.offset().top - 80,
                bottomEdge = topEdge + $this.height(),
                wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
                var currentId = $this.data("section"),
                    reqLink = $("a").filter("[href*=\\#" + currentId + "]");
                reqLink
                    .closest("li")
                    .addClass("active")
                    .siblings()
                    .removeClass("active");
            }
        });
    };

    $(".main-menu, .responsive-menu, .scroll-to-section").on(
        "click",
        "a",
        function (e) {
            e.preventDefault();
            showSection($(this).attr("href"), true);
        }
    );

    $(window).scroll(function () {
        checkSection();
    });
</script>
{%endblock%}
